

.mein_Inhalt {
    text-align: center; /* Zentriert das Bild */
    margin-top: 40px; /* Abstand nach oben */
}
.image-container {
    transform: scale(0.5); /* Bild um 50% schrumpfen */
            transform-origin: top left; /* Setzt den Ursprung der Transformation */
       
}
.page-content {
    display: flex;
            justify-content: center; /* Horizontale Zentrierung */
            align-items: center; /* Vertikale Zentrierung */
            height: 80vh; /* Höhe des Containers auf 100% der Ansichtshöhe setzen */
            
font-size:xx-large;
}
.footer{
    display: flex;
    justify-content: center;
}
